<div class="container-fluid">
  <header class="">
    <div class="row bg-dark text light p-5 py-3  justify-content-between">
      <div class="col-sm-auto">{{page.header}}</div>
      <div class="col-sm-auto">{{page.primary_menu}}</div>
    </div>
  </header>
  <section class="row pb-5 container_page_standard">
    <div class="d-flex flex-center my-5">
      {{page.content}}
    </div>
  </section>
  <footer class="fixed-bottom">  
    <div class="bg-dark text-light p-4 ">     
          {{page.footer}}
    </div>
  </footer>
  
</div>